*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
.b{
    background-color: rgba(159, 223, 122, 0.785);
    padding: 15px;
    width: 200px;
    margin: 20px;
    margin-left: 100px;
    border: none;
    border-radius: 50px;
    
    
}
h1{
    text-align: center;
    padding: 10PX;

}
.b:hover{
    color:rgb(255, 0, 234) ;
}