*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
.container{
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 20px;
    
}
.card{
    background-color: rgba(206, 194, 129, 0.858);
    align-items: center;
    border: 2px black solid;
    border-radius: 20px;
    width: 280px;
    height: 350px;
    padding: 10px;
    margin: 10px;
    transition: 0.5s;


}
img{
    margin: 10px;
    align-items: center;
    height: 230px;
    width: 220px;
     border: 2px rgb(221, 111, 111) solid;
    border-radius: 20px;
    

}
p{
    line-height: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 1000;
    transition: 0.5s;
}
.card:hover{
    transform: scale(1.05) translateY(-8px);
}

.p:hover{
    transform: scale(1.05) translateY(-8px);
}

