*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
.container{
    background-color: rgb(213, 148, 148);
    display: flex;
    justify-content: center;
    height:100vh;
     gap:5px;
    align-items: center;
    transition: 0.5s;
   

}
img{
    width: 250px;
    height: 250px; 
     border: 3px solid white;
     border-radius: 10px;
}
img:hover{
    transform: scale(1.2);
}
h1{
    text-align: center;
    margin-bottom: 10px;
    height: 50px;
    padding: 10px;
}