*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color:orange;
}
.divs{
    background-color:rgb(39, 219, 168);
    color: rgb(0, 0, 0);
    height: 130px;
    width: 500px;
    margin: 50px;
    margin-left:500px;
    padding: 10px;
    text-align: center;

}
h1{
    margin:50px;
    margin-left:110px;
    padding-top: 20px;
    text-align: center;
}
h2{
    padding-top: 10px;
    padding-bottom: 10px;
}
.Hospital_Name{
    color:black;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#id2{
    background-color: rgb(232, 111, 111);
}
#id3{
    background-color: rgb(145, 242, 106);
}

