*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: rgb(201, 248, 232);
    font-family: 'Times New Roman', Times, serif;
}
.heading{
    background-color:rgb(82, 82, 236);
    color: white;
    height: 80px;
    text-align: center;
    padding: 10px;
    margin: 2px;
    border:solid black 2px;
}
img{
    width: 600px;
    height:400px;
    margin: 50px;
    margin-left: 450px;
}
p{
    border: solid rgb(11, 11, 11) 1px;
    padding: 30px;
}
.news,strong{
    padding: 20px;
}