*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

.parent{
    background-color: rgb(238, 255, 0);
    width: 400px;
    height:500px;
    text-align: center;
    margin: 50px;
    border: solid black 3px;
    border-radius: 5px;
}
img{
    width:150px;
    height:150px;
    border-radius:100%;
    margin: 20px;
    text-align:center;
    border:solid  blue 3px;
}
p{
    padding:20px;
}
